body {
  background: black;
  color: #ddd;
  font-family: arial, verdana, helvetica, sans-serif;
}

body.wednesday-mode {
  background: darkred;
}

body .wednesday-mode {
  display: none;
}

body.wednesday-mode .wednesday-mode {
  display: block;
}

#help-toggle {
  color: #ddd;
}

#text {
  margin: 20px auto 20px auto;
}

h1 {
  text-align: center;
}

#rate {
  width: 6em;
}

.controls {
  zoom: 200%;
}

#face {
  background-image: url(face.png);
  margin: 10px auto 10px auto;
  zoom: 800%;
}

.hidden {
  display: none;
}

@media (min-width: 992px) {
  /* limit text with on large screens */
  #text {
    width: 50%;
  }
}
